.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: black;
}

.login > img{
    width: 50%;
}

.login > a{
    text-decoration: none;
    font-weight: 800;
    color: white;
    background-color: #1db954;
    border-radius: 99px;
    padding: 20px;

}