.sidebar{
    /* border: 1px solid black; */
    flex: 0.2;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 230px;
    height: 100vh;
    background-color: #040404;

}

.lyrify_logo{
    /* object-fit: contain; */
    margin-right: auto;
    height: 40px;
    padding: 10px;
}

.sidebar_title{

    padding: 5px;
    margin-left: 10px;
    font-size: 12px;

}

.sidebar > hr {

    border: 1px solid #282828;
    width: 90%;
    margin: 10px auto;

}